USE [Housing_Fund]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'View_BasicInfo', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'View_BasicInfo', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'View_BasicInfo', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'View_Attachments', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Attachments'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'View_Attachments', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Attachments'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pDateNat'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pDateNat'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pNat'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pNat'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pPaper'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pPaper'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pReg'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pReg'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'CivilOfficeID'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'CivilOfficeID'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pID'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pID'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pDate'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pDate'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pNumber'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pNumber'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'pidtype_id'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pidtype_id'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'WifeInfo_Table', N'COLUMN',N'gdr_id'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'gdr_id'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Marriagestatus_Table', N'COLUMN',N'marriage_statuseName'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Marriagestatus_Table', @level2type=N'COLUMN',@level2name=N'marriage_statuseName'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Marriage_Table', N'COLUMN',N'spouse_id'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Marriage_Table', @level2type=N'COLUMN',@level2name=N'spouse_id'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Guarantor_Table', N'COLUMN',N'commDate'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'commDate'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Guarantor_Table', N'COLUMN',N'commNumber'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'commNumber'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Guarantor_Table', N'COLUMN',N'nominalSalary'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'nominalSalary'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Guarantor_Table', N'COLUMN',N'netSalary'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'netSalary'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pDateNat'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pDateNat'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pNat'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pNat'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pPaper'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pPaper'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pReg'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pReg'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'CivilOfficeID'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'CivilOfficeID'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pID'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pID'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pDate'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pDate'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pNumber'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pNumber'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'pidtype_id'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pidtype_id'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'BasicInfo_Table', N'COLUMN',N'gdr_id'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'gdr_id'
GO
/****** Object:  StoredProcedure [dbo].[Update_EstateInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Update_EstateInfo]
GO
/****** Object:  StoredProcedure [dbo].[Update_BasicInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Update_BasicInfo]
GO
/****** Object:  StoredProcedure [dbo].[Select_GuarantorInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Select_GuarantorInfo]
GO
/****** Object:  StoredProcedure [dbo].[Select_EstateInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Select_EstateInfo]
GO
/****** Object:  StoredProcedure [dbo].[Select_BasicInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Select_BasicInfo]
GO
/****** Object:  StoredProcedure [dbo].[Chk_LoginUser]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Chk_LoginUser]
GO
/****** Object:  StoredProcedure [dbo].[Check_Duplicate_WifeInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Check_Duplicate_WifeInfo]
GO
/****** Object:  StoredProcedure [dbo].[Check_Duplicate_BasicInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Check_Duplicate_BasicInfo]
GO
/****** Object:  StoredProcedure [dbo].[Add_WifeInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_WifeInfo]
GO
/****** Object:  StoredProcedure [dbo].[Add_Loan]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_Loan]
GO
/****** Object:  StoredProcedure [dbo].[Add_Guarantor]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_Guarantor]
GO
/****** Object:  StoredProcedure [dbo].[Add_Gov]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_Gov]
GO
/****** Object:  StoredProcedure [dbo].[Add_EstateInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_EstateInfo]
GO
/****** Object:  StoredProcedure [dbo].[Add_BasicInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_BasicInfo]
GO
/****** Object:  StoredProcedure [dbo].[Add_Attachments]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Add_Attachments]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StationLink_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[StationLink_Table] DROP CONSTRAINT IF EXISTS [FK_StationLink_Table_Status_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StationLink_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[StationLink_Table] DROP CONSTRAINT IF EXISTS [FK_StationLink_Table_Stations_Table1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StationLink_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[StationLink_Table] DROP CONSTRAINT IF EXISTS [FK_StationLink_Table_Stations_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecordAction_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[RecordAction_Table] DROP CONSTRAINT IF EXISTS [FK_RecordAction_Table_Users_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecordAction_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[RecordAction_Table] DROP CONSTRAINT IF EXISTS [FK_RecordAction_Table_Action_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marriage_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Marriage_Table] DROP CONSTRAINT IF EXISTS [FK_Marriage_Table_BasicInfo_Table1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Marriage_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Marriage_Table] DROP CONSTRAINT IF EXISTS [FK_Marriage_Table_BasicInfo_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Loan_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Loan_Table] DROP CONSTRAINT IF EXISTS [FK_Loan_Table_Status_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Loan_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Loan_Table] DROP CONSTRAINT IF EXISTS [FK_Loan_Table_LoanType_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Loan_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Loan_Table] DROP CONSTRAINT IF EXISTS [FK_Loan_Table_Governorate_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Guarantor_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Guarantor_Table] DROP CONSTRAINT IF EXISTS [FK_Guarantor_Table_BasicInfo_Table1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Guarantor_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Guarantor_Table] DROP CONSTRAINT IF EXISTS [FK_Guarantor_Table_BasicInfo_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstateInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[EstateInfo_Table] DROP CONSTRAINT IF EXISTS [FK_EstateInfo_Table_Governorate_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EstateInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[EstateInfo_Table] DROP CONSTRAINT IF EXISTS [FK_EstateInfo_Table_BasicInfo_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BasicInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[BasicInfo_Table] DROP CONSTRAINT IF EXISTS [FK_BasicInfo_Table_personalIDType_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BasicInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[BasicInfo_Table] DROP CONSTRAINT IF EXISTS [FK_BasicInfo_Table_Marriagestatus_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BasicInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[BasicInfo_Table] DROP CONSTRAINT IF EXISTS [FK_BasicInfo_Table_Gender_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BasicInfo_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[BasicInfo_Table] DROP CONSTRAINT IF EXISTS [FK_BasicInfo_Table_CivilOfficeID_Table]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Authorization_Table]') AND type in (N'U'))
ALTER TABLE [dbo].[Authorization_Table] DROP CONSTRAINT IF EXISTS [FK_Authorization_Table_Governorate_Table]
GO
/****** Object:  Table [dbo].[WifeInfo_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[WifeInfo_Table]
GO
/****** Object:  Table [dbo].[Status_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Status_Table]
GO
/****** Object:  Table [dbo].[Stations_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Stations_Table]
GO
/****** Object:  Table [dbo].[StationLink_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[StationLink_Table]
GO
/****** Object:  Table [dbo].[RecordAction_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[RecordAction_Table]
GO
/****** Object:  Table [dbo].[Marriage_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Marriage_Table]
GO
/****** Object:  Table [dbo].[LoanType_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[LoanType_Table]
GO
/****** Object:  Table [dbo].[Loan_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Loan_Table]
GO
/****** Object:  Table [dbo].[Guarantor_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Guarantor_Table]
GO
/****** Object:  Table [dbo].[CivilOfficeID_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[CivilOfficeID_Table]
GO
/****** Object:  Table [dbo].[Authorization_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Authorization_Table]
GO
/****** Object:  Table [dbo].[Action_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Action_Table]
GO
/****** Object:  View [dbo].[View_Attachments]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP VIEW IF EXISTS [dbo].[View_Attachments]
GO
/****** Object:  Table [dbo].[Attachments_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Attachments_Table]
GO
/****** Object:  Table [dbo].[AttachmentsType_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[AttachmentsType_Table]
GO
/****** Object:  View [dbo].[View_BasicInfo]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP VIEW IF EXISTS [dbo].[View_BasicInfo]
GO
/****** Object:  Table [dbo].[Users_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Users_Table]
GO
/****** Object:  Table [dbo].[personalIDType_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[personalIDType_Table]
GO
/****** Object:  Table [dbo].[Marriagestatus_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Marriagestatus_Table]
GO
/****** Object:  Table [dbo].[Governorate_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Governorate_Table]
GO
/****** Object:  Table [dbo].[Gender_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[Gender_Table]
GO
/****** Object:  Table [dbo].[EstateInfo_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[EstateInfo_Table]
GO
/****** Object:  Table [dbo].[BasicInfo_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
DROP TABLE IF EXISTS [dbo].[BasicInfo_Table]
GO
/****** Object:  Table [dbo].[BasicInfo_Table]    Script Date: 28/07/2022 5:34:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicInfo_Table](
	[BasicInfo_id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[GrandFatherName] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[MotherName] [nvarchar](50) NULL,
	[MotherFatherName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[PhoneNo] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[gdr_id] [int] NULL,
	[pidtype_id] [int] NULL,
	[pNumber] [nvarchar](50) NULL,
	[pDate] [date] NULL,
	[pID] [nvarchar](50) NULL,
	[CivilOfficeID] [int] NULL,
	[pReg] [nvarchar](50) NULL,
	[pPaper] [nvarchar](50) NULL,
	[pNat] [nvarchar](50) NULL,
	[pDateNat] [date] NULL,
	[marriage_status_ID] [int] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_BasicInfo_Table] PRIMARY KEY CLUSTERED 
(
	[BasicInfo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstateInfo_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstateInfo_Table](
	[EstateInfo_id] [int] IDENTITY(1,1) NOT NULL,
	[gov_id] [int] NULL,
	[Construction_License_No] [nvarchar](50) NULL,
	[Construction_license_Date] [date] NULL,
	[Construction_License_LegalDept] [nvarchar](100) NULL,
	[Estate_No] [nvarchar](50) NULL,
	[DistrictName] [nvarchar](250) NULL,
	[EstateDocument_LegalDept] [nvarchar](100) NULL,
	[BasicInfo_id] [int] NULL,
	[phoneNo] [int] NULL,
	[email] [nvarchar](50) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_EstateInfo_Table] PRIMARY KEY CLUSTERED 
(
	[EstateInfo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender_Table](
	[gdr_id] [int] IDENTITY(1,1) NOT NULL,
	[gdr_name] [nchar](10) NULL,
 CONSTRAINT [PK_gender_Table] PRIMARY KEY CLUSTERED 
(
	[gdr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Governorate_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Governorate_Table](
	[gov_id] [int] IDENTITY(1,1) NOT NULL,
	[gov_name] [nvarchar](50) NULL,
	[gov_name_eng] [nvarchar](50) NULL,
	[gov_code] [int] NULL,
 CONSTRAINT [PK_Governorate_Table] PRIMARY KEY CLUSTERED 
(
	[gov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marriagestatus_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marriagestatus_Table](
	[marriage_status_ID] [int] IDENTITY(1,1) NOT NULL,
	[marriage_statuseName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Marriagestatus_Table] PRIMARY KEY CLUSTERED 
(
	[marriage_status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personalIDType_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personalIDType_Table](
	[pidtype_id] [int] IDENTITY(1,1) NOT NULL,
	[pidtype_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_personalIDType_Table] PRIMARY KEY CLUSTERED 
(
	[pidtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Table](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_fullname] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users_Table] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_BasicInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_BasicInfo]
AS
SELECT DISTINCT 
                  dbo.BasicInfo_Table.FirstName + ' ' + dbo.BasicInfo_Table.FatherName + ' ' + dbo.BasicInfo_Table.GrandFatherName + ' ' + dbo.BasicInfo_Table.SurName AS FullName, 
                  dbo.BasicInfo_Table.MotherName + ' ' + dbo.BasicInfo_Table.MotherFatherName AS FullMotherName, dbo.BasicInfo_Table.BirthDate, dbo.Gender_Table.gdr_name, dbo.personalIDType_Table.pidtype_Name, 
                  dbo.Marriagestatus_Table.marriage_statuseName, dbo.BasicInfo_Table.Email, dbo.BasicInfo_Table.BasicInfo_id, dbo.Governorate_Table.gov_name, dbo.EstateInfo_Table.Construction_License_No, dbo.EstateInfo_Table.Estate_No, 
                  dbo.Users_Table.user_id
FROM     dbo.BasicInfo_Table INNER JOIN
                  dbo.Gender_Table ON dbo.BasicInfo_Table.gdr_id = dbo.Gender_Table.gdr_id INNER JOIN
                  dbo.Marriagestatus_Table ON dbo.BasicInfo_Table.marriage_status_ID = dbo.Marriagestatus_Table.marriage_status_ID INNER JOIN
                  dbo.personalIDType_Table ON dbo.BasicInfo_Table.pidtype_id = dbo.personalIDType_Table.pidtype_id INNER JOIN
                  dbo.EstateInfo_Table ON dbo.BasicInfo_Table.BasicInfo_id = dbo.EstateInfo_Table.BasicInfo_id INNER JOIN
                  dbo.Governorate_Table ON dbo.EstateInfo_Table.gov_id = dbo.Governorate_Table.gov_id INNER JOIN
                  dbo.Users_Table ON dbo.BasicInfo_Table.user_id = dbo.Users_Table.user_id
GO
/****** Object:  Table [dbo].[AttachmentsType_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentsType_Table](
	[Attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[Attachment_Type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments_Table](
	[Attach_Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[Attachment_id] [int] NULL,
	[user_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Attachments]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Attachments]
AS
SELECT dbo.Attachments_Table.Attach_Id, dbo.Attachments_Table.ImageData, dbo.Attachments_Table.Attachment_id, dbo.Attachments_Table.user_id, dbo.AttachmentsType_Table.Attachment_Type
FROM     dbo.Attachments_Table INNER JOIN
                  dbo.AttachmentsType_Table ON dbo.Attachments_Table.Attachment_id = dbo.AttachmentsType_Table.Attachment_id
GO
/****** Object:  Table [dbo].[Action_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action_Table](
	[action_id] [int] IDENTITY(1,1) NOT NULL,
	[action_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Action_Table] PRIMARY KEY CLUSTERED 
(
	[action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorization_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorization_Table](
	[a_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[gov_id] [int] NULL,
	[st_id] [int] NULL,
	[authCode] [nchar](5) NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK_Authorization_Table] PRIMARY KEY CLUSTERED 
(
	[a_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CivilOfficeID_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CivilOfficeID_Table](
	[CivilOfficeID] [int] IDENTITY(1,1) NOT NULL,
	[CivilOfficeName] [nvarchar](100) NULL,
 CONSTRAINT [PK_CivilOfficeID_Table] PRIMARY KEY CLUSTERED 
(
	[CivilOfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantor_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantor_Table](
	[gnr_id] [int] IDENTITY(1,1) NOT NULL,
	[BasicInfo_id] [int] NULL,
	[guarantor_id] [int] NULL,
	[officeName] [nvarchar](500) NULL,
	[netSalary] [float] NULL,
	[nominalSalary] [int] NULL,
	[commNumber] [nvarchar](50) NULL,
	[commDate] [date] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_Guarantor_Table] PRIMARY KEY CLUSTERED 
(
	[gnr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Table](
	[lo_id] [int] IDENTITY(1,1) NOT NULL,
	[gov_id] [int] NULL,
	[lo_name] [nvarchar](50) NULL,
	[lo_size] [int] NULL,
	[lo_register] [int] NULL,
	[lo_sizein] [int] NULL,
	[lo_sizeacc] [int] NULL,
	[lo_sizereg] [int] NULL,
	[lo_sizeback] [int] NULL,
	[lo_startdate] [date] NULL,
	[lo_enddate] [date] NULL,
	[type_id] [int] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK_Loan_Table] PRIMARY KEY CLUSTERED 
(
	[lo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanType_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanType_Table](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoanType_Table] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marriage_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marriage_Table](
	[marriage_id] [int] IDENTITY(1,1) NOT NULL,
	[BasicInfo_id] [int] NULL,
	[spouse_id] [int] NULL,
 CONSTRAINT [PK_Marriage_Table] PRIMARY KEY CLUSTERED 
(
	[marriage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordAction_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordAction_Table](
	[rec_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[rec_date] [datetime] NULL,
	[action_id] [int] NULL,
	[rec_action_on] [nvarchar](100) NULL,
 CONSTRAINT [PK_RecordAction_Table] PRIMARY KEY CLUSTERED 
(
	[rec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationLink_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationLink_Table](
	[l_id] [int] IDENTITY(1,1) NOT NULL,
	[st1_id] [int] NULL,
	[st2_id] [int] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK_StationLink_Table] PRIMARY KEY CLUSTERED 
(
	[l_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations_Table](
	[st_id] [int] IDENTITY(1,1) NOT NULL,
	[st_name] [nvarchar](100) NULL,
	[st_pageName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Stations_Table] PRIMARY KEY CLUSTERED 
(
	[st_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Table](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status_Table] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WifeInfo_Table]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WifeInfo_Table](
	[WifeInfo_id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[GrandFatherName] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[MotherName] [nvarchar](50) NULL,
	[MotherFatherName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[PhoneNo] [int] NULL,
	[gdr_id] [int] NULL,
	[pidtype_id] [int] NULL,
	[pNumber] [nvarchar](50) NULL,
	[pDate] [date] NULL,
	[pID] [nvarchar](50) NULL,
	[CivilOfficeID] [int] NULL,
	[pReg] [nvarchar](50) NULL,
	[pPaper] [nvarchar](50) NULL,
	[pNat] [nvarchar](50) NULL,
	[pDateNat] [date] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_WifeInfo_Table] PRIMARY KEY CLUSTERED 
(
	[WifeInfo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attachments_Table] ON 

SET IDENTITY_INSERT [dbo].[Attachments_Table] OFF
SET IDENTITY_INSERT [dbo].[AttachmentsType_Table] ON 

INSERT [dbo].[AttachmentsType_Table] ([Attachment_id], [Attachment_Type]) VALUES (1, N'سند العقار')
INSERT [dbo].[AttachmentsType_Table] ([Attachment_id], [Attachment_Type]) VALUES (2, N'تأييد الكفيل')
INSERT [dbo].[AttachmentsType_Table] ([Attachment_id], [Attachment_Type]) VALUES (3, N'هوية الاحوال')
SET IDENTITY_INSERT [dbo].[AttachmentsType_Table] OFF
SET IDENTITY_INSERT [dbo].[BasicInfo_Table] ON 

INSERT [dbo].[BasicInfo_Table] ([BasicInfo_id], [FirstName], [FatherName], [GrandFatherName], [SurName], [MotherName], [MotherFatherName], [BirthDate], [PhoneNo], [Email], [gdr_id], [pidtype_id], [pNumber], [pDate], [pID], [CivilOfficeID], [pReg], [pPaper], [pNat], [pDateNat], [marriage_status_ID], [user_id]) VALUES (1, N'احمد', N'سمير', N'علاء', N'محمد', N'سارة', N'جعفر', CAST(N'2020-01-01' AS Date), 789, N'تل', 1, 1, N'789', CAST(N'2020-01-01' AS Date), N'78', 1, N'87', N'78', N'87', CAST(N'2020-01-01' AS Date), 1, NULL)
INSERT [dbo].[BasicInfo_Table] ([BasicInfo_id], [FirstName], [FatherName], [GrandFatherName], [SurName], [MotherName], [MotherFatherName], [BirthDate], [PhoneNo], [Email], [gdr_id], [pidtype_id], [pNumber], [pDate], [pID], [CivilOfficeID], [pReg], [pPaper], [pNat], [pDateNat], [marriage_status_ID], [user_id]) VALUES (2, N'بشار', N'حسن', N'علي', N'منير', N'فرح', N'سامر', CAST(N'2020-01-01' AS Date), 89, N'uyiu', 1, 1, N'987', CAST(N'2020-01-01' AS Date), N'789', 1, N'897', N'89', N'789', CAST(N'2020-01-01' AS Date), 1, NULL)
INSERT [dbo].[BasicInfo_Table] ([BasicInfo_id], [FirstName], [FatherName], [GrandFatherName], [SurName], [MotherName], [MotherFatherName], [BirthDate], [PhoneNo], [Email], [gdr_id], [pidtype_id], [pNumber], [pDate], [pID], [CivilOfficeID], [pReg], [pPaper], [pNat], [pDateNat], [marriage_status_ID], [user_id]) VALUES (3, N'احمد', N'زين', N'اثير', N'احمد', N'سميرة', N'فريد', CAST(N'2020-01-01' AS Date), 123565, N'قيد التدقيق', 1, 1, N'987', CAST(N'2020-01-01' AS Date), N'789', 1, N'897', N'89', N'789', CAST(N'2020-01-01' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[BasicInfo_Table] OFF
SET IDENTITY_INSERT [dbo].[CivilOfficeID_Table] ON 

INSERT [dbo].[CivilOfficeID_Table] ([CivilOfficeID], [CivilOfficeName]) VALUES (1, N'المنصور')
INSERT [dbo].[CivilOfficeID_Table] ([CivilOfficeID], [CivilOfficeName]) VALUES (2, N'الكرخ')
INSERT [dbo].[CivilOfficeID_Table] ([CivilOfficeID], [CivilOfficeName]) VALUES (3, N'الكاظمية')
SET IDENTITY_INSERT [dbo].[CivilOfficeID_Table] OFF
SET IDENTITY_INSERT [dbo].[EstateInfo_Table] ON 

INSERT [dbo].[EstateInfo_Table] ([EstateInfo_id], [gov_id], [Construction_License_No], [Construction_license_Date], [Construction_License_LegalDept], [Estate_No], [DistrictName], [EstateDocument_LegalDept], [BasicInfo_id], [phoneNo], [email], [user_id]) VALUES (1, 1, N'5383', CAST(N'2000-01-01' AS Date), N'236', N'327', N'432', N'890', 1, 1, N'1', NULL)
INSERT [dbo].[EstateInfo_Table] ([EstateInfo_id], [gov_id], [Construction_License_No], [Construction_license_Date], [Construction_License_LegalDept], [Estate_No], [DistrictName], [EstateDocument_LegalDept], [BasicInfo_id], [phoneNo], [email], [user_id]) VALUES (2, 1, N'3236', CAST(N'1900-01-01' AS Date), N'842', N'4054', N'22567', N'563', 2, 1, N'1', NULL)
INSERT [dbo].[EstateInfo_Table] ([EstateInfo_id], [gov_id], [Construction_License_No], [Construction_license_Date], [Construction_License_LegalDept], [Estate_No], [DistrictName], [EstateDocument_LegalDept], [BasicInfo_id], [phoneNo], [email], [user_id]) VALUES (3, 1, N'12', CAST(N'2008-01-01' AS Date), N'12', N'12', N'12', N'12', 3, 1, N'1', NULL)
SET IDENTITY_INSERT [dbo].[EstateInfo_Table] OFF
SET IDENTITY_INSERT [dbo].[Gender_Table] ON 

INSERT [dbo].[Gender_Table] ([gdr_id], [gdr_name]) VALUES (1, N'ذكر       ')
INSERT [dbo].[Gender_Table] ([gdr_id], [gdr_name]) VALUES (2, N'انثى      ')
SET IDENTITY_INSERT [dbo].[Gender_Table] OFF
SET IDENTITY_INSERT [dbo].[Governorate_Table] ON 

INSERT [dbo].[Governorate_Table] ([gov_id], [gov_name], [gov_name_eng], [gov_code]) VALUES (1, N'بغداد', N'Baghdad', 1)
INSERT [dbo].[Governorate_Table] ([gov_id], [gov_name], [gov_name_eng], [gov_code]) VALUES (2, N'البصرة', N'Basrah', 3)
INSERT [dbo].[Governorate_Table] ([gov_id], [gov_name], [gov_name_eng], [gov_code]) VALUES (3, N'الموصل', N'Mosul', 2)
SET IDENTITY_INSERT [dbo].[Governorate_Table] OFF
SET IDENTITY_INSERT [dbo].[Guarantor_Table] ON 

INSERT [dbo].[Guarantor_Table] ([gnr_id], [BasicInfo_id], [guarantor_id], [officeName], [netSalary], [nominalSalary], [commNumber], [commDate], [user_id]) VALUES (1, 3, 1, N'الكرادة', 750000, 450000, N'1290', CAST(N'2020-01-01' AS Date), NULL)
INSERT [dbo].[Guarantor_Table] ([gnr_id], [BasicInfo_id], [guarantor_id], [officeName], [netSalary], [nominalSalary], [commNumber], [commDate], [user_id]) VALUES (2, 1, 1, N'الكرادة', 32, 12, N'5643', CAST(N'2010-01-01' AS Date), NULL)
INSERT [dbo].[Guarantor_Table] ([gnr_id], [BasicInfo_id], [guarantor_id], [officeName], [netSalary], [nominalSalary], [commNumber], [commDate], [user_id]) VALUES (3, 1, 1, N'التعليم', 1200000, 500000, N'32', CAST(N'2020-08-08' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Guarantor_Table] OFF
SET IDENTITY_INSERT [dbo].[Loan_Table] ON 

INSERT [dbo].[Loan_Table] ([lo_id], [gov_id], [lo_name], [lo_size], [lo_register], [lo_sizein], [lo_sizeacc], [lo_sizereg], [lo_sizeback], [lo_startdate], [lo_enddate], [type_id], [status_id]) VALUES (1, 1, N'حصة اولى', 20, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-03-03' AS Date), CAST(N'2022-03-04' AS Date), 1, NULL)
INSERT [dbo].[Loan_Table] ([lo_id], [gov_id], [lo_name], [lo_size], [lo_register], [lo_sizein], [lo_sizeacc], [lo_sizereg], [lo_sizeback], [lo_startdate], [lo_enddate], [type_id], [status_id]) VALUES (2, 2, N'حصة اولى', 15, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-08-10' AS Date), CAST(N'2022-08-11' AS Date), 2, NULL)
INSERT [dbo].[Loan_Table] ([lo_id], [gov_id], [lo_name], [lo_size], [lo_register], [lo_sizein], [lo_sizeacc], [lo_sizereg], [lo_sizeback], [lo_startdate], [lo_enddate], [type_id], [status_id]) VALUES (3, 3, N'حصة اولى', 18, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-08-11' AS Date), CAST(N'2022-08-12' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Loan_Table] OFF
SET IDENTITY_INSERT [dbo].[LoanType_Table] ON 

INSERT [dbo].[LoanType_Table] ([type_id], [type_name]) VALUES (1, N'حصة')
INSERT [dbo].[LoanType_Table] ([type_id], [type_name]) VALUES (2, N'وجبة')
INSERT [dbo].[LoanType_Table] ([type_id], [type_name]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[LoanType_Table] OFF
SET IDENTITY_INSERT [dbo].[Marriagestatus_Table] ON 

INSERT [dbo].[Marriagestatus_Table] ([marriage_status_ID], [marriage_statuseName]) VALUES (1, N'اعزب')
INSERT [dbo].[Marriagestatus_Table] ([marriage_status_ID], [marriage_statuseName]) VALUES (2, N'متزوج')
INSERT [dbo].[Marriagestatus_Table] ([marriage_status_ID], [marriage_statuseName]) VALUES (3, N'مطلق')
SET IDENTITY_INSERT [dbo].[Marriagestatus_Table] OFF
SET IDENTITY_INSERT [dbo].[personalIDType_Table] ON 

INSERT [dbo].[personalIDType_Table] ([pidtype_id], [pidtype_Name]) VALUES (1, N'هوية الاحوال المدنية')
INSERT [dbo].[personalIDType_Table] ([pidtype_id], [pidtype_Name]) VALUES (2, N'البطاقة الموحدة')
SET IDENTITY_INSERT [dbo].[personalIDType_Table] OFF
SET IDENTITY_INSERT [dbo].[Users_Table] ON 

INSERT [dbo].[Users_Table] ([user_id], [user_fullname], [username], [password]) VALUES (1, N'Ahmed', N'ahmed', N'111')
INSERT [dbo].[Users_Table] ([user_id], [user_fullname], [username], [password]) VALUES (2, N'Zain', N'zain', N'222')
INSERT [dbo].[Users_Table] ([user_id], [user_fullname], [username], [password]) VALUES (3, N'Atheer', N'atheer', N'333')
SET IDENTITY_INSERT [dbo].[Users_Table] OFF
ALTER TABLE [dbo].[Authorization_Table]  WITH CHECK ADD  CONSTRAINT [FK_Authorization_Table_Governorate_Table] FOREIGN KEY([gov_id])
REFERENCES [dbo].[Governorate_Table] ([gov_id])
GO
ALTER TABLE [dbo].[Authorization_Table] CHECK CONSTRAINT [FK_Authorization_Table_Governorate_Table]
GO
ALTER TABLE [dbo].[BasicInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_BasicInfo_Table_CivilOfficeID_Table] FOREIGN KEY([CivilOfficeID])
REFERENCES [dbo].[CivilOfficeID_Table] ([CivilOfficeID])
GO
ALTER TABLE [dbo].[BasicInfo_Table] CHECK CONSTRAINT [FK_BasicInfo_Table_CivilOfficeID_Table]
GO
ALTER TABLE [dbo].[BasicInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_BasicInfo_Table_Gender_Table] FOREIGN KEY([gdr_id])
REFERENCES [dbo].[Gender_Table] ([gdr_id])
GO
ALTER TABLE [dbo].[BasicInfo_Table] CHECK CONSTRAINT [FK_BasicInfo_Table_Gender_Table]
GO
ALTER TABLE [dbo].[BasicInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_BasicInfo_Table_Marriagestatus_Table] FOREIGN KEY([marriage_status_ID])
REFERENCES [dbo].[Marriagestatus_Table] ([marriage_status_ID])
GO
ALTER TABLE [dbo].[BasicInfo_Table] CHECK CONSTRAINT [FK_BasicInfo_Table_Marriagestatus_Table]
GO
ALTER TABLE [dbo].[BasicInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_BasicInfo_Table_personalIDType_Table] FOREIGN KEY([pidtype_id])
REFERENCES [dbo].[personalIDType_Table] ([pidtype_id])
GO
ALTER TABLE [dbo].[BasicInfo_Table] CHECK CONSTRAINT [FK_BasicInfo_Table_personalIDType_Table]
GO
ALTER TABLE [dbo].[EstateInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_EstateInfo_Table_BasicInfo_Table] FOREIGN KEY([BasicInfo_id])
REFERENCES [dbo].[BasicInfo_Table] ([BasicInfo_id])
GO
ALTER TABLE [dbo].[EstateInfo_Table] CHECK CONSTRAINT [FK_EstateInfo_Table_BasicInfo_Table]
GO
ALTER TABLE [dbo].[EstateInfo_Table]  WITH CHECK ADD  CONSTRAINT [FK_EstateInfo_Table_Governorate_Table] FOREIGN KEY([gov_id])
REFERENCES [dbo].[Governorate_Table] ([gov_id])
GO
ALTER TABLE [dbo].[EstateInfo_Table] CHECK CONSTRAINT [FK_EstateInfo_Table_Governorate_Table]
GO
ALTER TABLE [dbo].[Guarantor_Table]  WITH CHECK ADD  CONSTRAINT [FK_Guarantor_Table_BasicInfo_Table] FOREIGN KEY([BasicInfo_id])
REFERENCES [dbo].[BasicInfo_Table] ([BasicInfo_id])
GO
ALTER TABLE [dbo].[Guarantor_Table] CHECK CONSTRAINT [FK_Guarantor_Table_BasicInfo_Table]
GO
ALTER TABLE [dbo].[Guarantor_Table]  WITH CHECK ADD  CONSTRAINT [FK_Guarantor_Table_BasicInfo_Table1] FOREIGN KEY([guarantor_id])
REFERENCES [dbo].[BasicInfo_Table] ([BasicInfo_id])
GO
ALTER TABLE [dbo].[Guarantor_Table] CHECK CONSTRAINT [FK_Guarantor_Table_BasicInfo_Table1]
GO
ALTER TABLE [dbo].[Loan_Table]  WITH CHECK ADD  CONSTRAINT [FK_Loan_Table_Governorate_Table] FOREIGN KEY([gov_id])
REFERENCES [dbo].[Governorate_Table] ([gov_id])
GO
ALTER TABLE [dbo].[Loan_Table] CHECK CONSTRAINT [FK_Loan_Table_Governorate_Table]
GO
ALTER TABLE [dbo].[Loan_Table]  WITH CHECK ADD  CONSTRAINT [FK_Loan_Table_LoanType_Table] FOREIGN KEY([type_id])
REFERENCES [dbo].[LoanType_Table] ([type_id])
GO
ALTER TABLE [dbo].[Loan_Table] CHECK CONSTRAINT [FK_Loan_Table_LoanType_Table]
GO
ALTER TABLE [dbo].[Loan_Table]  WITH CHECK ADD  CONSTRAINT [FK_Loan_Table_Status_Table] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status_Table] ([status_id])
GO
ALTER TABLE [dbo].[Loan_Table] CHECK CONSTRAINT [FK_Loan_Table_Status_Table]
GO
ALTER TABLE [dbo].[Marriage_Table]  WITH CHECK ADD  CONSTRAINT [FK_Marriage_Table_BasicInfo_Table] FOREIGN KEY([BasicInfo_id])
REFERENCES [dbo].[BasicInfo_Table] ([BasicInfo_id])
GO
ALTER TABLE [dbo].[Marriage_Table] CHECK CONSTRAINT [FK_Marriage_Table_BasicInfo_Table]
GO
ALTER TABLE [dbo].[Marriage_Table]  WITH CHECK ADD  CONSTRAINT [FK_Marriage_Table_BasicInfo_Table1] FOREIGN KEY([spouse_id])
REFERENCES [dbo].[BasicInfo_Table] ([BasicInfo_id])
GO
ALTER TABLE [dbo].[Marriage_Table] CHECK CONSTRAINT [FK_Marriage_Table_BasicInfo_Table1]
GO
ALTER TABLE [dbo].[RecordAction_Table]  WITH CHECK ADD  CONSTRAINT [FK_RecordAction_Table_Action_Table] FOREIGN KEY([action_id])
REFERENCES [dbo].[Action_Table] ([action_id])
GO
ALTER TABLE [dbo].[RecordAction_Table] CHECK CONSTRAINT [FK_RecordAction_Table_Action_Table]
GO
ALTER TABLE [dbo].[RecordAction_Table]  WITH CHECK ADD  CONSTRAINT [FK_RecordAction_Table_Users_Table] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users_Table] ([user_id])
GO
ALTER TABLE [dbo].[RecordAction_Table] CHECK CONSTRAINT [FK_RecordAction_Table_Users_Table]
GO
ALTER TABLE [dbo].[StationLink_Table]  WITH CHECK ADD  CONSTRAINT [FK_StationLink_Table_Stations_Table] FOREIGN KEY([st1_id])
REFERENCES [dbo].[Stations_Table] ([st_id])
GO
ALTER TABLE [dbo].[StationLink_Table] CHECK CONSTRAINT [FK_StationLink_Table_Stations_Table]
GO
ALTER TABLE [dbo].[StationLink_Table]  WITH CHECK ADD  CONSTRAINT [FK_StationLink_Table_Stations_Table1] FOREIGN KEY([st2_id])
REFERENCES [dbo].[Stations_Table] ([st_id])
GO
ALTER TABLE [dbo].[StationLink_Table] CHECK CONSTRAINT [FK_StationLink_Table_Stations_Table1]
GO
ALTER TABLE [dbo].[StationLink_Table]  WITH CHECK ADD  CONSTRAINT [FK_StationLink_Table_Status_Table] FOREIGN KEY([status_id])
REFERENCES [dbo].[Status_Table] ([status_id])
GO
ALTER TABLE [dbo].[StationLink_Table] CHECK CONSTRAINT [FK_StationLink_Table_Status_Table]
GO
/****** Object:  StoredProcedure [dbo].[Add_Attachments]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_Attachments]
@ImageData varbinary(max),
@Attachment_id int,
@user_id int
AS
if NOT EXISTS(select Attachment_id  From Attachments_Table where [user_id] =@user_id and Attachment_id =@Attachment_id )
begin
INSERT INTO Attachments_Table
           (ImageData,Attachment_id,[user_id])
     VALUES
           (@ImageData,@Attachment_id,@user_id)    
  end;          
            
 ELSE 
 begin
 declare 
 @Attach_ID  int

 select @Attach_Id =  Attach_Id from Attachments_Table where [user_id] =@user_id and Attachment_id =@Attachment_id

 Update Attachments_Table
 SET        ImageData = @ImageData,
            user_id = @user_id,
            Attachment_id = @Attachment_id
            
            where Attach_Id = @Attach_Id ;
end;
GO
/****** Object:  StoredProcedure [dbo].[Add_BasicInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_BasicInfo]

 @FirstName nvarchar(50)
,@FatherName nvarchar(50)
,@GrandFatherName nvarchar(50)
,@SurName nvarchar(50)
,@MotherName nvarchar(50)
,@MotherFatherName nvarchar(50)
,@BirthDate date
,@PhoneNo int
,@Email nvarchar(50)
,@gdr_id int
,@pidtype_id int
,@pNumber nvarchar(50)
,@pDate date
,@pID nvarchar(50)
,@CivilOfficeID int
,@pReg nvarchar(50)
,@pPaper nvarchar(50)
,@pNat nvarchar(50)
,@pDateNat date
,@marriage_status_ID int
,@user_id int

AS

INSERT INTO [dbo].[BasicInfo_Table]
           ([FirstName]
           ,[FatherName]
           ,[GrandFatherName]
           ,[SurName]
           ,[MotherName]
           ,[MotherFatherName]
           ,[BirthDate]
           ,[PhoneNo]
           ,[Email]
           ,[gdr_id]
           ,[pidtype_id]
           ,[pNumber]
           ,[pDate]
           ,[pID]
           ,[CivilOfficeID]
           ,[pReg]
           ,[pPaper]
           ,[pNat]
           ,[pDateNat]
           ,[marriage_status_ID]
		   ,[user_id])
     VALUES
           (@FirstName,
			@FatherName,
			@GrandFatherName,
			@SurName,
			@MotherName,
			@MotherFatherName,
			@BirthDate,
			@PhoneNo,
			@Email,
			@gdr_id,
			@pidtype_id,
			@pNumber,
			@pDate,
			@pID,
			@CivilOfficeID,
			@pReg,
			@pPaper,
			@pNat,
			@pDateNat,
			@marriage_status_ID
			,@user_id)


GO
/****** Object:  StoredProcedure [dbo].[Add_EstateInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_EstateInfo]
@gov_id int
,@Construction_License_No nvarchar(50)
,@Construction_license_Date date
,@Construction_License_LegalDept nvarchar(100)
,@Estate_No nvarchar(50)
,@DistrictName nvarchar(250)
,@EstateDocument_LegalDept nvarchar(100)
,@BasicInfo_id int
,@phoneNo int
,@email nvarchar(50)
,@user_id int
AS
INSERT INTO [dbo].[EstateInfo_Table]
           ([gov_id]
           ,[Construction_License_No]
           ,[Construction_license_Date]
           ,[Construction_License_LegalDept]
           ,[Estate_No]
           ,[DistrictName]
           ,[EstateDocument_LegalDept]
           ,[BasicInfo_id]
           ,[phoneNo]
           ,[email]
		   ,[user_id])
     VALUES
           (@gov_id
           ,@Construction_License_No
           ,@Construction_license_Date
           ,@Construction_License_LegalDept
           ,@Estate_No
           ,@DistrictName
           ,@EstateDocument_LegalDept
           ,@BasicInfo_id
           ,@phoneNo
           ,@email
		   ,@user_id)



GO
/****** Object:  StoredProcedure [dbo].[Add_Gov]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_Gov]
@gov_name nvarchar(50)
,@gov_name_eng nvarchar(50)
,@gov_code int
AS
INSERT INTO [dbo].[Governorate_Table]
           ([gov_name]
           ,[gov_name_eng]
           ,[gov_code])
     VALUES
           (@gov_name
           ,@gov_name_eng
           ,@gov_code)
GO
/****** Object:  StoredProcedure [dbo].[Add_Guarantor]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_Guarantor]
 @BasicInfo_id int
,@guarantor_id int
,@officeName nvarchar(500)
,@netSalary float
,@nominalSalary int
,@commNumber nvarchar(50)
,@commDate date
,@user_id int
AS
INSERT INTO [dbo].[Guarantor_Table]
           (BasicInfo_id
           ,guarantor_id
           ,officeName
           ,netSalary
           ,nominalSalary
           ,commNumber
           ,commDate
		   ,user_id)
     VALUES
           (@BasicInfo_id
           ,@guarantor_id
           ,@officeName
           ,@netSalary
           ,@nominalSalary
           ,@commNumber
           ,@commDate
		   ,@user_id)
GO
/****** Object:  StoredProcedure [dbo].[Add_Loan]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Add_Loan]
 @gov_id int
,@lo_name nvarchar(50)
,@lo_size int
,@lo_startdate date
,@lo_enddate date
,@type_id int
AS
INSERT INTO [dbo].[Loan_Table]
           ([gov_id]
           ,[lo_name]
           ,[lo_size]
           ,[lo_startdate]
           ,[lo_enddate]
           ,[type_id])
     VALUES
           (@gov_id
           ,@lo_name
           ,@lo_size
           ,@lo_startdate
           ,@lo_enddate
           ,@type_id)
GO
/****** Object:  StoredProcedure [dbo].[Add_WifeInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Add_WifeInfo]

 @FirstName nvarchar(50)
,@FatherName nvarchar(50)
,@GrandFatherName nvarchar(50)
,@SurName nvarchar(50)
,@MotherName nvarchar(50)
,@MotherFatherName nvarchar(50)
,@BirthDate date
,@PhoneNo int
,@gdr_id int
,@pidtype_id int
,@pNumber nvarchar(50)
,@pDate date
,@pID nvarchar(50)
,@CivilOfficeID int
,@pReg nvarchar(50)
,@pPaper nvarchar(50)
,@pNat nvarchar(50)
,@pDateNat date
,@user_id int

AS

INSERT INTO [dbo].[BasicInfo_Table]
           ([FirstName]
           ,[FatherName]
           ,[GrandFatherName]
           ,[SurName]
           ,[MotherName]
           ,[MotherFatherName]
           ,[BirthDate]
           ,[PhoneNo]
           ,[gdr_id]
           ,[pidtype_id]
           ,[pNumber]
           ,[pDate]
           ,[pID]
           ,[CivilOfficeID]
           ,[pReg]
           ,[pPaper]
           ,[pNat]
           ,[pDateNat]
		   ,[user_id])
     VALUES
           (@FirstName,
			@FatherName,
			@GrandFatherName,
			@SurName,
			@MotherName,
			@MotherFatherName,
			@BirthDate,
			@PhoneNo,
			@gdr_id,
			@pidtype_id,
			@pNumber,
			@pDate,
			@pID,
			@CivilOfficeID,
			@pReg,
			@pPaper,
			@pNat,
			@pDateNat,
			@user_id)


GO
/****** Object:  StoredProcedure [dbo].[Check_Duplicate_BasicInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Check_Duplicate_BasicInfo]
@FirstName nvarchar(50),
@FatherName NVARCHAR(50),
@GrandFatherName nvarchar(50),
@SurName nvarchar(50),
@MotherName nvarchar(50),
@MotherFatherName nvarchar(50)
AS
SELECT [BasicInfo_id]
      ,[FirstName]
      ,[FatherName]
      ,[GrandFatherName]
      ,[SurName]
      ,[MotherName]
      ,[MotherFatherName]
  FROM [dbo].[BasicInfo_Table]
Where FirstName = @FirstName AND FatherName = @FatherName AND GrandFatherName = @GrandFatherName AND SurName = @SurName AND MotherName = @MotherName
AND MotherFatherName = @MotherFatherName


GO
/****** Object:  StoredProcedure [dbo].[Check_Duplicate_WifeInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Check_Duplicate_WifeInfo]
@FirstName nvarchar(50),
@FatherName NVARCHAR(50),
@GrandFatherName nvarchar(50),
@SurName nvarchar(50),
@MotherName nvarchar(50),
@MotherFatherName nvarchar(50)
AS
SELECT [WifeInfo_id]
      ,[FirstName]
      ,[FatherName]
      ,[GrandFatherName]
      ,[SurName]
      ,[MotherName]
      ,[MotherFatherName]
  FROM [dbo].[WifeInfo_Table]
Where FirstName = @FirstName AND FatherName = @FatherName AND GrandFatherName = @GrandFatherName AND SurName = @SurName AND MotherName = @MotherName
AND MotherFatherName = @MotherFatherName


GO
/****** Object:  StoredProcedure [dbo].[Chk_LoginUser]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Chk_LoginUser]

@username nvarchar(50),
@password nvarchar(50)
  	
AS

	select * from Users_Table
	where username=@username and [password]=@password
GO
/****** Object:  StoredProcedure [dbo].[Select_BasicInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Select_BasicInfo]
@user_id int
AS
SELECT [BasicInfo_id]
      ,[FirstName]
      ,[FatherName]
      ,[GrandFatherName]
      ,[SurName]
      ,[MotherName]
      ,[MotherFatherName]
      ,[BirthDate]
      ,[PhoneNo]
      ,[Email]
      ,[gdr_id]
      ,[pidtype_id]
      ,[pNumber]
      ,[pDate]
      ,[pID]
      ,[CivilOfficeID]
      ,[pReg]
      ,[pPaper]
      ,[pNat]
      ,[pDateNat]
      ,[marriage_status_ID]
  FROM [dbo].[BasicInfo_Table]
Where [user_id] = @user_id


GO
/****** Object:  StoredProcedure [dbo].[Select_EstateInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Select_EstateInfo]
@user_id int
AS

SELECT [EstateInfo_id]
      ,[gov_id]
      ,[Construction_License_No]
      ,[Construction_license_Date]
      ,[Construction_License_LegalDept]
      ,[Estate_No]
      ,[DistrictName]
      ,[EstateDocument_LegalDept]
      ,[BasicInfo_id]
      ,[phoneNo]
      ,[email]
      ,[user_id]
  FROM [dbo].[EstateInfo_Table]
Where [user_id] = @user_id


GO
/****** Object:  StoredProcedure [dbo].[Select_GuarantorInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Select_GuarantorInfo]
@user_id int
AS
SELECT [gnr_id]
      ,[BasicInfo_id]
      ,[guarantor_id]
      ,[officeName]
      ,[netSalary]
      ,[nominalSalary]
      ,[commNumber]
      ,[commDate]
      ,[user_id]
  FROM [dbo].[Guarantor_Table]
Where user_id = @user_id


GO
/****** Object:  StoredProcedure [dbo].[Update_BasicInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Update_BasicInfo]
@BasicInfo_id int
,@FirstName nvarchar(50)
,@FatherName nvarchar(50)
,@GrandFatherName nvarchar(50)
,@SurName nvarchar(50)
,@MotherName nvarchar(50)
,@MotherFatherName nvarchar(50)
,@BirthDate date
,@PhoneNo int
,@Email nvarchar(50)
,@gdr_id int
,@pidtype_id int
,@pNumber nvarchar(50)
,@pDate date
,@pID nvarchar(50)
,@CivilOfficeID int
,@pReg nvarchar(50)
,@pPaper nvarchar(50)
,@pNat nvarchar(50)
,@pDateNat date
,@marriage_status_ID int
,@user_id int
AS
UPDATE [dbo].[BasicInfo_Table]
   SET [FirstName] = @FirstName
      ,[FatherName] = @FatherName
      ,[GrandFatherName] = @GrandFatherName
      ,[SurName] = @SurName
      ,[MotherName] = @MotherName
      ,[MotherFatherName] = @MotherFatherName
      ,[BirthDate] = @BirthDate
      ,[PhoneNo] = @PhoneNo
      ,[Email] = @Email
      ,[gdr_id] = @gdr_id
      ,[pidtype_id] = @pidtype_id
      ,[pNumber] = @pNumber
      ,[pDate] = @pDate
      ,[pID] = @pID
      ,[CivilOfficeID] = @CivilOfficeID
      ,[pReg] = @pReg
      ,[pPaper] = @pPaper
      ,[pNat] = @pNat
      ,[pDateNat] = @pDateNat
      ,[marriage_status_ID] = @marriage_status_ID
 WHERE [user_id] = @user_id
GO
/****** Object:  StoredProcedure [dbo].[Update_EstateInfo]    Script Date: 28/07/2022 5:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Update_EstateInfo]
 @EstateInfo_id int
,@gov_id int
,@Construction_License_No nvarchar(50)
,@Construction_license_Date date
,@Construction_License_LegalDept nvarchar(100)
,@Estate_No nvarchar(50)
,@DistrictName nvarchar(250)
,@EstateDocument_LegalDept nvarchar(100)
,@BasicInfo_id int
,@phoneNo int
,@email nvarchar(50)
AS
UPDATE [dbo].[EstateInfo_Table]
   SET [gov_id] = @gov_id
      ,[Construction_License_No] = @Construction_License_No
      ,[Construction_license_Date] = @Construction_license_Date
      ,[Construction_License_LegalDept] = @Construction_License_LegalDept
      ,[Estate_No] = @Estate_No
      ,[DistrictName] = @DistrictName
      ,[EstateDocument_LegalDept] = @EstateDocument_LegalDept
      ,[BasicInfo_id] = @BasicInfo_id
      ,[phoneNo] = @phoneNo
      ,[email] = @email
 WHERE EstateInfo_id = @EstateInfo_id



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الجنس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'gdr_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع الهوية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pidtype_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم البطاقة الوطنية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ الاصدار للبطاقة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم الجنسية المدنية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'جهة الاصدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'CivilOfficeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم السجل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pReg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الصحيفة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pPaper'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم شهادة الجنسية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pNat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ اصدار الشهادة الجنسية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_Table', @level2type=N'COLUMN',@level2name=N'pDateNat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الراتب الصافي' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'netSalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الراتب الاسمي' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'nominalSalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم تعهد استمارة الكفيل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'commNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ التعهد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Guarantor_Table', @level2type=N'COLUMN',@level2name=N'commDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم الزوج او الزوجة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Marriage_Table', @level2type=N'COLUMN',@level2name=N'spouse_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'حالة الزواج' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Marriagestatus_Table', @level2type=N'COLUMN',@level2name=N'marriage_statuseName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الجنس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'gdr_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع الهوية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pidtype_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم البطاقة الوطنية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ الاصدار للبطاقة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم الجنسية المدنية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'جهة الاصدار' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'CivilOfficeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم السجل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pReg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الصحيفة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pPaper'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم شهادة الجنسية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pNat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ اصدار الشهادة الجنسية' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WifeInfo_Table', @level2type=N'COLUMN',@level2name=N'pDateNat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Attachments_Table"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AttachmentsType_Table"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 126
               Right = 500
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1548
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 2064
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Attachments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Attachments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BasicInfo_Table"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 18
         End
         Begin Table = "Gender_Table"
            Begin Extent = 
               Top = 7
               Left = 320
               Bottom = 126
               Right = 514
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Marriagestatus_Table"
            Begin Extent = 
               Top = 7
               Left = 562
               Bottom = 126
               Right = 809
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "personalIDType_Table"
            Begin Extent = 
               Top = 7
               Left = 857
               Bottom = 126
               Right = 1051
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EstateInfo_Table"
            Begin Extent = 
               Top = 7
               Left = 1099
               Bottom = 170
               Right = 1406
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Governorate_Table"
            Begin Extent = 
               Top = 126
               Left = 562
               Bottom = 267
               Right = 756
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Users_Table"
            Begin Extent = 
               Top = 126
               Left = 320
               Bottom = 289
              ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Right = 514
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1728
         Width = 1200
         Width = 1200
         Width = 1680
         Width = 1656
         Width = 2004
         Width = 1656
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1536
         Table = 1680
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_BasicInfo'
GO
